﻿@using EmployeeTrackerWebApp.ViewModels
@model EmployeeTableViewModel
@{
    ViewData["Title"] = "Employee Table";
}
<h1>@ViewData["Title"]</h1>

<table id="employees" class="display">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Arrival at work</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.When</td>
            </tr>
        }
    </tbody>
</table>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
@section Scripts
    {
    <script>
        $(document).ready(function() {
            $('#employees').DataTable({
            });
        });
    </script>
}
