﻿@{
    ViewData["Title"] = "Home Page";
}
@TempData["Message"]
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form asp-controller="Home" asp-action="GetDate">
        <label>
            Enter date:
            <input type="date" name="date" value="date">
        </label>
        <p>
            <button>Submit</button>
        </p>
    </form>
</div>
